.cart-container {
  padding-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 15px auto;
}

.cartItem {
  margin-top: 20px;
  width: 1400px;
  display: flex;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }
}

.image {
  width: 300px;
  height: 300px;
  object-fit:contain;
  margin-right: 15px;
  border-radius: 8px;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.quantityControls button{
  padding: 6px 12px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e64a19;
    transform: scale(1.05);
  }
}
.quantityControls span{
  padding: 10px;
}

.cart-item-details h3 {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 5px;
}

.cart-item-details p {
  font-size: 0.9rem;
  color: #555;
}

.cart-item-details .price {
  font-size: 1rem;
  font-weight: bold;
  color: #4CAF50;
}

.removeButton {
  margin-top: 8px;
  padding: 8px 12px;
  background-color: #ff3b30;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #e60000;
    transform: scale(1.05);
  }
}

.totalPrice {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: #4CAF50;
  text-align: right;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
    padding: 12px;
  }

  .cart-item-image {
    margin-bottom: 12px;
  }

  .cart-item-details {
    text-align: center;
  }

  .cart-item-quantity {
    gap: 8px;
  }

  .totalPrice {
    font-size: 1.1rem;
    text-align: center;
  }
}
